<div class="span-2 fave_list_icon {{ even_odd }}" style="margin: 0px;">
	<a href="http://twitter.com/{{ screen_name }}"><img src="{{ image }}" border="0" height="48" width="48"></a>
</div>
<div class="span-7 fave_list {{ even_odd }}" style="margin: 0px;">

		{{ this_fave }}. <a href="/{{ screen_name }}/">{{ screen_name }}</a>

</div>
<div class="span-2 last fave_list {{ even_odd }}" style="margin: 0px;">
	
		{{ count }}
		

</div>
<div class="span-11 last fave_list {{ even_odd }}" style="margin: 0px;">&nbsp;</div>
<div class="clear" style="padding-bottom: 20px;" ></div>