{% extends "includes/base.html" %}

{% block title %}&raquo; About{% endblock %}
{% block content %}
<h2 class="alt">About</h2>
<!--<ul>
<li>From the first time you star someone's tweet until the last, Twitterbelle uses unicorn magic to determine the percentage of that user's tweets you favorite.</li>-->
Twitterbelle sprang fully-formed from the head of <a href="http://twitter.com/poeks">@poeks</a>. She assumes no responsibility for butthurt incurred through the use of this application.
{% endblock %}
